<body>
<div class="bg">
</div>
<div class="div">
    <div class="div-2">
        <center>
            <picture>
                <source
                        srcset="
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?format=webp&width=100   100w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?format=webp&width=200   200w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?format=webp&width=400   400w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?format=webp&width=800   800w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?format=webp&width=1200 1200w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?format=webp&width=1600 1600w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?format=webp&width=2000 2000w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e
        "
                        type="image/webp"
                />
                <img
                        src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e"
                        srcset="
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?width=100   100w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?width=200   200w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?width=400   400w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?width=800   800w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?width=1200 1200w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?width=1600 1600w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e?width=2000 2000w,
          https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F431f5d9d2c204a9998acea5a4af9949e
        "
                        class="image"
                />
            </picture>
        </center>
        <div class="builder-image-sizer image-sizer"></div>
    </div>
    <div class="div-3">
        <a href="/joker" style="text-decoration: none;">
            <div id="div-4" class="botao">COMEÇAR</div>
        </a>
        <div id="div-5" class="botao">REGRAS</div>
    </div>
</div>
</body>
<style>

    @font-face {
        font-family: "IBM Plex Sans Thai Looped", sans-serif;
        src: url('https://fonts.google.com/specimen/IBM+Plex+Sans+Thai+Looped?query=IBM+Plex+Sans+Thai');
        font-weight: bold;
    }


    body {
        background-color: #5E78BD;
        margin: 0;
        overflow-x: hidden;
    }

    .bg {
        position: fixed;
        top: -50%;
        left: -50%;
        right: -50%;
        bottom: -50%;
        width: 200%;
        height: 200vh;
        background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
        background-repeat: repeat;
        animation: bg-animation .2s infinite;
        opacity: .9;
        visibility: visible;
    }

    @keyframes bg-animation {
        0% {
            transform: translate(0, 0)
        }
        10% {
            transform: translate(-5%, -5%)
        }
        20% {
            transform: translate(-10%, 5%)
        }
        30% {
            transform: translate(5%, -10%)
        }
        40% {
            transform: translate(-5%, 15%)
        }
        50% {
            transform: translate(-10%, 5%)
        }
        60% {
            transform: translate(15%, 0)
        }
        70% {
            transform: translate(0, 10%)
        }
        80% {
            transform: translate(-15%, 0)
        }
        90% {
            transform: translate(10%, 5%)
        }
        100% {
            transform: translate(5%, 0)
        }
    }

    .div {
        position: relative;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 1418px;
        border-radius: 74px;
        padding-top: 55px;
        padding-bottom: 55px;
        padding-right: 55px;
        padding-left: 55px;
    }

    .div-2 {
        display: flex;
        align-self: center;
        position: relative;
        width: 500px;
    }

    picture {
        align-self: center;
    }

    .image {
        position: relative;
        height: 75%;
        width: 75%;
    }

    .image-sizer {
        padding-top: 63.24074074074074%;
    }

    .div-3 {
        display: flex;
        flex-direction: column;
        max-width: 1718px;
        justify-content: center;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #div-4 {
        display: flex;
        max-width: 373px;
        justify-content: center;
        border-radius: 74px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: rgba(77, 98, 208, 1);
        width: 500px;
        color: rgba(255, 255, 255, 1);
        font-size: 35px;
        text-align: center;
        font-family: "IBM Plex Sans Thai Looped", sans-serif;
        font-weight: bold;
    }

    #div-5 {
        display: flex;
        flex-direction: column;
        max-width: 309px;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
        border-radius: 74px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: rgba(134, 153, 255, 1);
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        color: rgba(255, 255, 255, 1);
        font-size: 35px;
        text-align: center;
        font-family: "IBM Plex Sans Thai Looped", sans-serif;
        font-weight: bold;
    }

    #div-4:hover {
        cursor: pointer;
        background-color: #546FFF;
    }

    #div-5:hover {
        cursor: pointer;
        background-color: #546FFF;
    }
</style>
