<center>
    <div class="div">
        <div class="div-2">
            <div class="builder-columns div-3">
                <div class="builder-column column">
                    <div class="cada-pergunta-tem-40-segundos">
                        Cada pergunta tem 40 segundos de tempo.
                    </div>
                </div>
                <div class="builder-column column-2">
                    <div class="div-4">
                        <div class="div-5">
                            <div class="linha"></div>
                            <div class="linha"></div>
                            <div class="linha"></div>
                            <div class="linha"></div>
                            <div class="linha"></div>
                            <div class="linha"></div>
                            <div class="linha"></div>
                            <div class="linha"></div>
                        </div>
                        <div class="div-14">
                            <picture>
                                <source
                                        srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad
                "
                                        type="image/webp"
                                />
                                <img
                                        src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad"
                                        srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe4ab001270654e78b327f450c27479ad
                "
                                        class="image"
                                />
                            </picture>
                            <div class="builder-image-sizer image-sizer"></div>
                        </div>
                        <div class="div-15">
                        <picture>
                                <source
                                        srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4
                "
                                        type="image/webp"
                                />
                                <img
                                        src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4"
                                        srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Ffbf888d262bf4ad392cfd066f1195eb4
                "
                                        class="image"
                                />
                            </picture>
                            <div class="builder-image-sizer image-sizer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
<style>
    .div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        padding: 13px;
        border-color: rgba(0, 0, 0, 1);
        border-width: 6px;
        border-style: solid;
        background-color: rgba(139, 100, 0, 1);
        max-width: 800px;
    }

    .div-2 {
        border-radius: 24px;
        padding-top: 61px;
        padding-bottom: 61px;
        padding-right: 61px;
        padding-left: 61px;
        border-color: rgba(98, 98, 98, 1);
        border-width: 7px;
        border-style: solid;
        background-color: rgba(184, 184, 184, 1);
        justify-content: center;
        flex-direction: column;
        display: flex;
        align-items: center;

    }

    .div-3 {
        display: flex;
    }

    @media (max-width: 999px) {
        .div-3 {
            flex-direction: column;
            align-items: stretch;
        }
    }

    .column {
        flex-direction: column;
        width: calc(50% - 10px);
    }

    .cada-pergunta-tem-40-segundos {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        justify-content: center;
        align-items: center;
        border-radius: 37px;
        width: 200px;
        padding: 60px 100px;
        border-color: rgba(74, 74, 74, 1);
        border-width: 18px;
        border-style: solid;
        background-color: rgba(21, 21, 21, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 25px;
        text-align: center;
        font-family: Cabin Condensed, sans-serif;
    }

    .column-2 {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
    }

    .div-4 {
        display: flex;
        flex-direction: column;
        max-width: 163px;
        justify-content: center;
        align-items: center;
        border-radius: 19px;
        padding: 28px;
        border-color: rgba(74, 74, 74, 1);
        border-width: 10px;
        border-style: solid;
        background-color: rgba(132, 132, 132, 1);
    }

    .div-5 {
        display: flex;
        flex-direction: column;
        max-width: 107px;
        justify-content: center;
        border-radius: 13px;
        padding: 21px;
        background-color: rgba(95, 95, 95, 1);
    }

    .linha {
        display: flex;
        max-width: 65px;
        height: 0px;
        width: 65px;
        margin-top: 10px;
        border-color: rgba(0, 0, 0, 1);
        border-width: 5px;
        border-style: solid;
    }

    .div-14 {
        display: flex;
        position: relative;
        min-width: 20px;
        min-height: 20px;
        max-width: 58px;
        width: 58px;
        margin-top: 20px;
    }

    .image {
        object-fit: cover;
        object-position: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .image-sizer {
        width: 100%;
        padding-top: 103.44827586206897%;
        pointer-events: none;
        font-size: 0;
    }

    .div-15 {
        display: flex;
        position: relative;
        min-width: 20px;
        min-height: 20px;
        max-width: 58px;
        width: 600px;
        margin-top: 20px;
    }
</style>